* {
  border-radius: 4px;
  border: none;
}

body {
  background-color: gainsboro;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  padding: 20px;
}

#input-email-header , #input-pass-header {
  margin-right: 10px;
}

.trybewarts-header-logo {
  width: 8vh;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  margin-top: 30px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#house {
  align-items: baseline;
}

.div-top {
  margin-top: 15px;
}

#label-content {
  margin-top: 20px;
}

.rodapé {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(40, 141, 97);
}

#label-family , #label-content {
  margin-top: 10px;
}

#radio-Frontend {
  margin: top 15px;
}
